In [11]:
import requests
import json
import pprint
import pandas as pd
import openpyxl
query = input("검색할 키워드를 입력해주세요 :")
# startdate = input("검색 시작 기간을 입력해 주세요 20xx-xx-xx")
# enddate = input("검색 종료 기간을 입력해 주세요 20xx-xx-xx")
startdate = "2021-08-01"
enddate = '2021-08-31'
filename = 'C:\\py_temp\\bigkinds\\TopN\\202108\\TopN_{}_from{}to{}.csv' .format(query,startdate,enddate)
url = 'http://tools.kinds.or.kr:8888/topn_keyword'
data = {
    "access_key": "b1f22ec0-39da-4a93-8779-c3c059778956",
    "argument": {
        "published_at": {
            "from": startdate,
            "until": enddate
        },
        "query": query,
        "category": [

        ]
    }
}

res = requests.post(url, json=data)
res_json = res.json()

list1 = list(res_json.values())
result = list1[1]
df = pd.DataFrame(result)
df[:60]

                                result
0         {'rank': '1', 'name': '확진자'}
1          {'rank': '2', 'name': '논산'}
2       {'rank': '3', 'name': '코로나19'}
3          {'rank': '4', 'name': '충남'}
4          {'rank': '5', 'name': '서울'}
5         {'rank': '6', 'name': '종사자'}
6      {'rank': '7', 'name': '신규 확진자'}
7         {'rank': '8', 'name': '외국인'}
8          {'rank': '9', 'name': '1천'}
9         {'rank': '10', 'name': '부산'}
10       {'rank': '11', 'name': '일자리'}
11       {'rank': '12', 'name': '비수도'}
12       {'rank': '13', 'name': '노동자'}
13       {'rank': '14', 'name': '코로나'}
14      {'rank': '15', 'name': '비수도권'}
15       {'rank': '16', 'name': '다문화'}
16    {'rank': '17', 'name': '충남 논산시'}
17        {'rank': '18', 'name': '세종'}
18        {'rank': '19', 'name': '대구'}
19     {'rank': '20', 'name': '양성 판정'}
20        {'rank': '21', 'name': '충북'}
21        {'rank': '22', 'name': '경북'}
22       {'rank': '23', 'name': '지원금'}
23       {'rank': '24', 'name': '공동체'}
24        {'rank': '25', 'name': '전남'}
25        {'rank': '26', 'name': '경남'}
26        {'rank': '27', 'name': '충청'}
27        {'rank': '28', 'name': '천안'}
28       {'rank': '29', 'name': '수도권'}
29      {'rank': '30', 'name': '집단감염'}
30       {'rank': '31', 'name': '황명선'}
31       {'rank': '32', 'name': '접촉자'}
32       {'rank': '33', 'name': '호남선'}
33       {'rank': '34', 'name': '훈련소'}
34       {'rank': '35', 'name': '근로자'}
35      {'rank': '36', 'name': '어린이집'}
36       {'rank': '37', 'name': '요양원'}
37        {'rank': '38', 'name': '광주'}
38      {'rank': '39', 'name': '노성산성'}
39        {'rank': '40', 'name': '인천'}
40       {'rank': '41', 'name': '지자체'}
41       {'rank': '42', 'name': '확산세'}
42      {'rank': '43', 'name': '방역당국'}
43        {'rank': '44', 'name': '울산'}
44       {'rank': '45', 'name': '위원회'}
45        {'rank': '46', 'name': '제주'}
46     {'rank': '47', 'name': '확진 판정'}
47       {'rank': '48', 'name': '윤석열'}
48       {'rank': '49', 'name': '주민들'}
49        {'rank': '50', 'name': '전북'}
50      {'rank': '51', 'name': '지역사회'}
51      {'rank': '52', 'name': '소상공인'}
52       {'rank': '53', 'name': '이용자'}
53       {'rank': '54', 'name': '탑정호'}
54  {'rank': '55', 'name': '황명선 논산시장'}
55       {'rank': '56', 'name': '월요일'}
56        {'rank': '57', 'name': '강원'}
57       {'rank': '58', 'name': '영산강'}
58       {'rank': '59', 'name': '간담회'}
59       {'rank': '60', 'name': '부여군'}

In [12]:
# df.to_csv(filename,encoding="utf-8-sig" , index=False )
# print("{}로 저장되었습니다. ".format (filename))